.login-contain {
  border: 0.5px solid #41197f;
  display: flex;
  flex-direction: column;
  height: 800px;
  justify-content: end;
  margin: 0 auto;
  width: 360px;
}

.login-contain .forms-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 400px;
  margin: 0 auto;
  width: 300px;
}
