.recomendation {
  align-items: center;
  display: flex;
  margin-bottom: 50px;
  overflow: auto;
  scroll-snap-type: x mandatory;

}

.recomendation-card {
  border-radius: 15px;
  box-shadow: 1px 1px 7px  #03167e;
  margin: 5px;
  padding-right: 10px;
  scroll-snap-align: center;
  width: 200px;
}

.recomendation-img {
  border-radius: 0 0 10px 10px;
  height: 200px;
  object-fit: cover;
  width: 200px;

}

.recommendation-title {
  border: 1px solid #0a0a0a;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  margin: 0;
  width: 200px;
}

.start-recipe-btn {
  background: #f1f1f1;
  border-radius: 7px;
  bottom: 0;
  margin-bottom: 15px;
  position: fixed;
  width: 200px;
  z-index: 1;
}

.start-recipe-btn:hover {
  background: #6f89c0;
  cursor: pointer;
}

.header-details {
  align-items: center;
  background: #1b0885;
  border-bottom: 1px solid #03167e;
  border-radius: 0 0 15px 15px;
  box-shadow: 2px 2px 8px 3px #03167e;
  color: aliceblue;
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin-bottom: 10px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.btn-details {
  align-items: center;
  background: #f8f6f6;
  border-radius: 50%;
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 0 5px;
  width: 40px;

}

.header-icon {
  align-items: center;
  display: flex;
  justify-content: center;
}

.img-header {
  background-color: #eee;
  border-radius: 50%;
  height: 50px;
  margin: 0 10px;
  width: 50px;
}

.btn {
  display: flex;
}

.details-img {
  border-radius: 15px;
  box-shadow: 1px 1px 15px 5px #03167e;
  height: 300px;
  margin-bottom: 25px;
  margin-top: 102px;
  width: 360px;

}

.detalhes-contain {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.category {
  background: #e6e6e6;
  border: 0.518px solid #b1b1b1;
  border-radius: 5px 5px 0 0;
  display: flex;
  height: 50px;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
}

.category-item {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
}

.ingredientes, .instructions {
  border: 0.518px solid #b1b1b1;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

.instructions {
  margin-bottom: 55px;
  padding: 10px;
}

.ing-contain {
  display: flex;
  justify-content: center;
}

.video {
  border-radius: 15px;
  box-shadow: 1px 1px 15px 5px #03167e;
  height: 300px;
  margin-bottom: 30px;
  width: 380px;

}

.video-contain {
  align-items: center;
  display: flex;
  justify-content: center;

}

.title-details-container {
  color: #001;
  margin-left: 30px;
  margin-top: 65px;
  position: absolute;
  text-align: center;


}

